/*.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/

body{
  font-family: "Lilita One", sans-serif;
  line-height: 2;      
  flex-direction: column;         
  justify-content: center;        
  align-items: center;            
  min-height: 100vh;
  background-color: black;
}

/*.App {
  display: flex;             
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
}*/












