* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Content-Contato{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: sobre_animation 1.5s ease-out;
  }

  .Title-Contato{
    color: white;
    font-size: 60px;
    display: flex;               
    justify-content: center;    
    align-items: center;         
    text-align: center;          
    margin: 0;
    margin-bottom: 30px;
  }
  
  .Box-Contato{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
    width: 100%;
    flex-direction: column;
    background: rgba(119, 119, 119, 0.2);
    border-radius: 10px;
    min-width: 50%;
    gap: 50%;
    color: white;
  }

  .name-contato{
    margin-bottom: 3%;
    font-size: 20px;
  }
  
  .email-contato{
    display: flex;
    align-items: center;
  }
  .email-contato p{
    margin-left: 10px;
  }

  .tel-contato{
    display: flex;
  }
  .tel-contato p{
    margin-left: 10px;
  }
 

  @keyframes sobre_animation{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }