.header-home{
  position: fixed;
  display: flex;
  top: 0;
  left: 0; 
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: App 1s ease-out;
  }

.logo{
 padding: 20px;
 width: 200px;
 height: auto;
}

.nav-menu
{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.home-button{
   background-color: white;
    padding: 6px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    width: 150px;
    border: 2px solid black;
    opacity: 1;
}

.home-button:hover{
  color: rgb(82, 82, 82);
  border: 2px solid white;
}


.nav-links{
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  color: black;
}


.nav-links li button{
  padding: auto;
  font-size: 20px;
  border: 2px solid rgb(15, 15, 15);
}

.nav-links li button:hover{
  color: rgb(82, 82, 82);
  border: 2px solid white;
}

/*Buttons CADASTRAR & LOGIN*/
.auth-buttons{
 
  list-style: none;
  padding: 0;
  gap: 1px;
}

.auth-buttons li button{
  padding: 1px;
  font-size: 16px;
  background-color: white;
  width: 100px;
  border: 2px solid rgb(15, 15, 15);
}

.auth-buttons li button:hover{
  color: rgb(82, 82, 82);
  border: 2px solid white;
}
 