.container {
    display: flex;
    background-color:rgb(15, 15, 15);
    color: white;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 5rem;
    margin-top: 10rem;
    width: 150vh;
    height: 55vh;   
    animation: container 1.5s ease-out;
  }


  .banner {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20rem;
  }
  
  .banner-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .info {
    min-height: 150px;
    position: absolute;
    left: 15rem;
    background: rgba(119, 119, 119, 0.2);
    padding: 30px;
    border-radius: 10px;
    align-items: start;
    justify-content: center;
    align-items: center;
  }
  
  .preco {
    color: yellow;
  }
  
  .comprar-btn {
    background: blue;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .lista-jogos {
    width: auto;
    margin-left: 1rem;
  }
  
  .ListFont{
   color: white;
  }
  
  .jogo-btn {
    display: flex;
    align-items: center;
    background: rgba(119, 119, 119, 0.2);
    padding: 10px;
    border-radius: 8px;
    width: 20rem;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
  }

  
  .jogo-btn:hover {
    background: darkgray;
  }
  
  .jogo-btn.selecionado {
    border: 2px solid blue;
  }
  
  .jogo-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 60px;
  }

  @keyframes container{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }