* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .LojaContent{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: sobre_animation 1.5s ease-out;
  }

  .LojaTitulo{
    color: white;
    font-size: 60px;
    display: flex;               
    justify-content: center;    
    align-items: center;         
    text-align: center;          
    margin: 0;
    margin-bottom: 10rem;
  }

  .Loja-txt{
    padding: 5px;
    height: 50%;
    width: 100%;
    font-size: 20x;
    color: white;
    display: flex;               
    justify-content: center;     
    align-items: center;              
    margin: 0;
  }

  @keyframes sobre_animation{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }