* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content{
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: sobre_animation 1.5s ease-out;
  }

  .titulo{
    color: white;
    font-size: 60px;
    display: flex;               
    justify-content: center;    
    align-items: center;         
    text-align: center;          
    margin: 0;
    margin-bottom: 30px;
  }
  
  .caixatxt{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(119, 119, 119, 0.2);
    padding: 30px;
  }

  .txt{
    padding: 5px;
    height: 50%;
    width: 70%;
    font-size: 20x;
    color: rgba(255, 255, 255, 0.8);
    display: flex;               
    justify-content: center;     
    align-items: center;         
    text-align: justify;         
    margin: 0;
  }

  @keyframes sobre_animation{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 1024px) {
  .titulo {
    font-size: 48px;
    margin-top: 14%;
    margin-bottom: 25px;
  }

  .caixatxt {
    padding: 25px;
  }

  .txt {
    width: 80%;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 36px;
    margin-top: 20%;
    margin-bottom: 20px;
  }

  .caixatxt {
    padding: 20px;
  }

  .txt {
    width: 90%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 28px;
    margin-top: 20%;
    margin-bottom: 15px;
  }

  .caixatxt {
    padding: 15px;
  }

  .txt {
    width: 95%;
    font-size: 14px;
  }
}